// Font
$font-stack: 'Lato Regular', sans-serif
$text-color: rgb(126, 126, 126)

// Colors
$black: rgb(0, 0, 0)
$white: rgb(255, 255, 255)
$main-background: rgba(10, 10, 66, 0.9)
$form-background: $white
$form-border: rgb(29, 16, 50)
$facebook-blue: rgb(59, 89, 152)
$valid: rgb(126, 126, 126)
$invalid: rgb(194, 0, 0)
