@import reset
@import colors

html
  body
     background: $main-background;

.moze-signup-form
  width: 30%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background: $form-background;
  text-align: center;
